<div class="page-container" [@enterAnimation]>
    <button
        class="mat-button ng-tns-c53-50 contact {'unread':contact.unread} ng-trigger ng-trigger-animate ng-star-inserted"
        mat-button="" ngclass="{'unread':contact.unread}" style=""><span class="mat-button-wrapper">
            <div fxlayout="row" fxlayoutalign="start center" class="ng-tns-c53-50"
                style="flex-direction: row; box-sizing: border-box; display: flex; place-content: center flex-start; align-items: center;">
                <div class="avatar-wrapper" fxflex="0 1 auto" fxlayoutalign="center center"
                    style="place-content: center; align-items: center; flex-direction: row; box-sizing: border-box; display: flex; flex: 0 1 auto;">
                    <img class="avatar" src="https://source.unsplash.com/random" alt="Alice Freeman">
                    <mat-icon class="mat-icon notranslate material-icons s-16 status online mat-icon-no-color"
                        role="img" aria-hidden="true"></mat-icon>
                </div>
                <div class="ng-tns-c53-50" fxflex="" fxlayout="row"
                    style="flex-direction: row; box-sizing: border-box; display: flex; flex: 1 1 0%;">
                    <div class="pr-4" fxflex="" fxlayout="column" fxlayoutalign="center start"
                        style="flex-direction: column; box-sizing: border-box; display: flex; place-content: flex-start center; align-items: flex-start; flex: 1 1 0%;">
                        <div class="contact-name">Alice Freeman</div>
                        <div class="contact-last-message">Thanks!</div>
                    </div>
                    <div class="ng-tns-c53-50" fxlayout="column" fxlayoutalign="start end"
                        style="flex-direction: column; box-sizing: border-box; display: flex; place-content: flex-end flex-start; align-items: flex-end;">
                        <div class="contact-last-message-time"> Jun 12, 2017 </div>
                        <!---->
                        <div class="mt-4 unread-message-count accent ng-tns-c53-50 ng-star-inserted" style="">4</div>
                    </div>
                </div>
            </div>
        </span>
        <div class="mat-button-ripple mat-ripple" matripple=""></div>
        <div class="mat-button-focus-overlay"></div>
    </button>
    <button
        class="mat-button ng-tns-c53-50 contact {'unread':contact.unread} ng-trigger ng-trigger-animate ng-star-inserted"
        mat-button="" ngclass="{'unread':contact.unread}" style=""><span class="mat-button-wrapper">
            <div fxlayout="row" fxlayoutalign="start center" class="ng-tns-c53-50"
                style="flex-direction: row; box-sizing: border-box; display: flex; place-content: center flex-start; align-items: center;">
                <div class="avatar-wrapper" fxflex="0 1 auto" fxlayoutalign="center center"
                    style="place-content: center; align-items: center; flex-direction: row; box-sizing: border-box; display: flex; flex: 0 1 auto;">
                    <img class="avatar" src="https://source.unsplash.com/random" alt="Alice Freeman">
                    <mat-icon class="mat-icon notranslate material-icons s-16 status online mat-icon-no-color"
                        role="img" aria-hidden="true"></mat-icon>
                </div>
                <div class="ng-tns-c53-50" fxflex="" fxlayout="row"
                    style="flex-direction: row; box-sizing: border-box; display: flex; flex: 1 1 0%;">
                    <div class="pr-4" fxflex="" fxlayout="column" fxlayoutalign="center start"
                        style="flex-direction: column; box-sizing: border-box; display: flex; place-content: flex-start center; align-items: flex-start; flex: 1 1 0%;">
                        <div class="contact-name">Alice Freeman</div>
                        <div class="contact-last-message">You are the worst!</div>
                    </div>
                    <div class="ng-tns-c53-50" fxlayout="column" fxlayoutalign="start end"
                        style="flex-direction: column; box-sizing: border-box; display: flex; place-content: flex-end flex-start; align-items: flex-end;">
                        <div class="contact-last-message-time"> Jun 12, 2017 </div>
                        <!---->
                        <div class="mt-4 unread-message-count accent ng-tns-c53-50 ng-star-inserted" style="">4</div>
                    </div>
                </div>
            </div>
        </span>
        <div class="mat-button-ripple mat-ripple" matripple=""></div>
        <div class="mat-button-focus-overlay"></div>
    </button>
    <button
        class="mat-button ng-tns-c53-50 contact {'unread':contact.unread} ng-trigger ng-trigger-animate ng-star-inserted"
        mat-button="" ngclass="{'unread':contact.unread}" style=""><span class="mat-button-wrapper">
            <div fxlayout="row" fxlayoutalign="start center" class="ng-tns-c53-50"
                style="flex-direction: row; box-sizing: border-box; display: flex; place-content: center flex-start; align-items: center;">
                <div class="avatar-wrapper" fxflex="0 1 auto" fxlayoutalign="center center"
                    style="place-content: center; align-items: center; flex-direction: row; box-sizing: border-box; display: flex; flex: 0 1 auto;">
                    <img class="avatar" src="https://source.unsplash.com/random" alt="Alice Freeman">
                    <mat-icon class="mat-icon notranslate material-icons s-16 status online mat-icon-no-color"
                        role="img" aria-hidden="true"></mat-icon>
                </div>
                <div class="ng-tns-c53-50" fxflex="" fxlayout="row"
                    style="flex-direction: row; box-sizing: border-box; display: flex; flex: 1 1 0%;">
                    <div class="pr-4" fxflex="" fxlayout="column" fxlayoutalign="center start"
                        style="flex-direction: column; box-sizing: border-box; display: flex; place-content: flex-start center; align-items: flex-start; flex: 1 1 0%;">
                        <div class="contact-name">Alice Freeman</div>
                        <div class="contact-last-message">On my way!</div>
                    </div>
                    <div class="ng-tns-c53-50" fxlayout="column" fxlayoutalign="start end"
                        style="flex-direction: column; box-sizing: border-box; display: flex; place-content: flex-end flex-start; align-items: flex-end;">
                        <div class="contact-last-message-time"> Jun 12, 2017 </div>
                        <!---->
                        <div class="mt-4 unread-message-count accent ng-tns-c53-50 ng-star-inserted" style="">4</div>
                    </div>
                </div>
            </div>
        </span>
        <div class="mat-button-ripple mat-ripple" matripple=""></div>
        <div class="mat-button-focus-overlay"></div>
    </button>
</div>