<mat-nav-list>
    <a mat-list-item (click)="setFeedSort('Hot')">
        <mat-icon mat-list-icon>whatshot</mat-icon>
        <h4 mat-line>Hot</h4>
    </a>
    <a mat-list-item (click)="setFeedSort('New')">
        <mat-icon mat-list-icon>access_time</mat-icon>
        <h4 mat-line>New</h4>
    </a>
    <a mat-list-item (click)="setFeedSort('Top')">
        <mat-icon mat-list-icon>bar_chart</mat-icon>
        <h4 mat-line>Top</h4>
    </a>
    <a mat-list-item (click)="setFeedSort('Controversial')">
        <mat-icon mat-list-icon>pie_chart</mat-icon>
        <h4 mat-line>Controversial</h4>
    </a>
    <a mat-list-item (click)="setFeedSort('Educational')">
        <mat-icon mat-list-icon>school</mat-icon>
        <h4 mat-line>Educational</h4>
    </a>
</mat-nav-list>