:host{
    box-sizing: border-box;
    display: block;
    height: 100%;
  }

.mat-tab-body {
    width: 100vw;
}

.main-container {
  
}

#app-tab-group{
    z-index: 99;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
  }
  // #tab-group mat-tab-body {
  //   flex-grow: 1;
  // }

// .mat-tab-label {
//     cursor: pointer;
//     &:hover {
//         cursor: pointer;
//     }
// }

.mat-toolbar {
    z-index: 99;
    position: fixed;
    top: 0;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
}


.logo {
  margin: auto;
  h1 {
    -webkit-user-select: none; /* Safari */        
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+/Edge */
user-select: none; /* Standard */
  }
}

#left-nav-btn {
  position: absolute;
  left: 16px;
}

h1 {
  font-family: 'EB Garamond', serif;
  font-weight: bold;
}