<div class="page-container" [@enterAnimation]>
    <div id="post-detail-container">

        <h1>Discover</h1>
        <form class="example-form">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Search.." [formControl]="emailFormControl" [errorStateMatcher]="matcher">
            </mat-form-field>
        </form>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta voluptates facere beatae vero alias
            accusamus
            ipsum
            vitae voluptas perferendis odit illum deleniti fugiat eveniet velit ratione, minima et. Beatae, distinctio?
        </p>
    </div>
</div>