<ng-container *ngIf="post">
    <div class="page-container">
        <mat-card *ngIf="post.type === 'book' || post.type === 'documentary' ">
            <img *ngIf="post.image" [@fadeAnimation] id="post-bg" mat-card-image src="{{post.image}}"
                alt="Photo of a Shiba Inu">
            <!-- <iframe *ngIf="post.video" id="post-img_{{post._id}}" width="100%" height="100%" [src]="post.video | safe"
                        frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe> -->
            <mat-card-footer id="cover-footer">
                <img id="post-cover-img" src="{{post.image}}" alt=""
                    [ngClass]="{'book-cover': post.type === 'book' || post.type === 'documentary'}">
                <span id="media-details" [@enterAnimation]>
                    <h3 id="media-title">{{post.title}}</h3>
                    <h5>by <i>{{post.author}}</i> </h5>
                    <!-- <app-rating [rating]="rating" [starCount]="starCount" [color]="starColor"
                        (ratingUpdated)="onRatingChanged($event)"></app-rating> -->
                    <!-- <h3>{{post.rating}}</h3> -->
                    <!-- <ng-container *ngIf="post.tags">
                                <mat-chip-list aria-label="Fish selection">
                                    <mat-chip *ngFor="let tag of post.tags">{{tag}}</mat-chip>
                                </mat-chip-list>
                            </ng-container> -->
                </span>
            </mat-card-footer>
        </mat-card>

        <img *ngIf="post.type !== 'book' && post.type !== 'documentary' " id="post-cover-img" src="{{post.image}}"
            alt="">
        <div id="post-detail-container" [@enterAnimation]
            [ngClass]="{'move-down':  post.type === 'book' || post.type === 'documentary', 'white-bg':  post.type !== 'book' && post.type !== 'documentary'  }">
            <h1 *ngIf="post.type !== 'book' && post.type !== 'documentary' ">{{post.title}}</h1>

            <mat-card [ngClass]="{ 'no-padding':  post.type !== 'book' && post.type !== 'documentary'  }"
                (touchstart)="swipe($event, 'start')" (touchend)="swipe($event, 'end')">
                <mat-tab-group *ngIf="post.type === 'book' || post.type === 'documentary'; else noBook"
                    mat-align-tabs="center" [selectedIndex]="selectedTab" (selectedTabChange)="navigateTo($event)">
                    <mat-tab label="Review">

                        <div class="main-container">
                            <ng-template matTabContent>
                                <router-outlet></router-outlet>




                            </ng-template>
                        </div>
                    </mat-tab>
                    <mat-tab label="Summary">
                        <div class="main-container">
                            <ng-template matTabContent>
                                <router-outlet></router-outlet>


                            </ng-template>
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </mat-card>



            <ng-template #noBook>
                <p>{{post.message}}</p>
                <div class="swiper-container" [swiper]="config" [(index)]="index"
                    (indexChange)="switchPlayback($event)">
                    <div class="swiper-wrapper" (click)="openFullscreen()">

                        <!-- <img class="swiper-slide"
                            src="https://images.unsplash.com/photo-1512101176959-c557f3516787?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80"
                            alt="">


                        <img class="swiper-slide"
                            src="https://images.unsplash.com/photo-1560146491-bb9556272788?ixlib=rb-1.2.1&auto=format&fit=crop&w=701&q=80"
                            alt=""> -->


                        <video autoplay loop class="swiper-slide"
                            src="https://sample-videos.com/video123/mp4/720/big_buck_bunny_720p_30mb.mp4"></video>

                        <video loop class="swiper-slide"
                            src="https://archive.org/download/Pokemon_Movie_14.mp4/Pokemon_Movie_14.mp4"></video>

                    </div>

                    <!-- <div class="swiper-scrollbar"></div> -->
                    <div class="swiper-pagination"></div>


                </div>
                <h1>{{videoTitle}}</h1>
            </ng-template>

        </div>
    </div>
    <form class="comment-form" (click)="openCommentSection()">

        <mat-form-field class="example-full-width">
            <textarea matInput placeholder="Leave a comment"></textarea>
        </mat-form-field>
    </form>
</ng-container>