@import '~swiper/dist/css/swiper.min.css';
#post-cover-img {

    width: 100%;
    object-fit: cover;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.page-container {
    background-color: #f5f5f5;
    padding-bottom: 100px;
}

#post-detail-container {
    padding: 0;
}

.white-bg {
    background-color: #fff;
    padding: 16px !important;
}

.mat-tab-group {
    background-color: #fff;
    border: none;
}

.mat-tab-header {
    border: none;
    opacity: 0;
}

.mat-tab-body-wrapper {
    background-color: #fff;
}

.mat-tab-list {
    position: fixed;
    top:0;
    left: 100px;
}



.book-cover {
    transform: translateY(-100px);
    width: 25% !important;
    margin-left: 16px;
}

#cover-footer {
    position: relative;
    height: 74px;
}

#media-details {
    width: 60%;
    position: absolute;
    right: 16px;
    top: 8px;
    
}
#media-title {
    margin-top:-4px;
    margin-bottom: 0px;
}

h5 {
    margin: 0;
    margin-bottom: 16px;
}

.move-down {
    margin-top: 8px;
}

#post-bg {
    height: 200px;
    object-fit: cover;
}

mat-card {
      border-radius: 0px;
      border-bottom: 1px solid #ccc;
      box-shadow: none !important;
    }

    h1 {
        margin-top: 0;
    }

.no-padding{
    padding: 0px !important;
}



.swiper-container {
    height: 200px;
    border-radius: 16px;
    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    video {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.swiper-pagination {
    z-index: 99;
}