#post-cover-img {

    width: 100%;
    object-fit: cover;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.page-container {
    background-color: #fff;
}


.mat-tab-group {
    background-color: #fff;
    border: none;
}

.mat-tab-header {
    border: none;
    opacity: 0;
}

.mat-tab-body-wrapper {
    background-color: #fff;
}

.mat-tab-list {
    position: fixed;
    top:0;
    left: 100px;
}



.book-cover {
    transform: translateY(16px);
    width: 25% !important;
    margin-left: 16px;
}

#media-details {
    width: 60%;
    position: absolute;
    right: 16px;
    top: 72px;
    
}
#media-title {
    margin-top:-4px;
    margin-bottom: 0px;
}

h5 {
    margin: 0;
    margin-bottom: 16px;
}

.move-down {
    margin-top: 48px;
}